/**
# Doccing .css and .scss files
Can be done using Javadoc. Most IDEs don't provide Javadoc support for css,
just write the starting <code>&#47;**</code> and the ending <code>*&#47;</code> on your own.
*/

/**
generic css tag rule
*/
html {
  font-family: serif;
}

/**
class rules
*/
.test, .tester, .testest {
  color: blue;
}

/**
## Themes
*/

html {
  /**### Default color scheme */
  --default: #000000;
}

/**
conflicting css declaration [[conflict]]
*/
[conflict] {
  color: red;
}